@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background: linear-gradient(to right, #f5f3ff, #ede9fe);
  background-position: center;
  background-size: cover;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(167, 139, 250, 0.5); /* light purple */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a78bfa;
}
